.banner{
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("images/banner.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content{
    text-align: center;
    color: #fff;
}
.banner-title{
	font-size: 72px;
    font-weight: 700;
    letter-spacing: 2px;
}